.main-content-wrapper {
  margin: 15px 0 0;
  position: relative;
}

.sticky-nav {
  top: 50%;
  margin: 0 auto;
  max-width:  80%;
  height: 50px;
  padding: 0 22px; /* Adjust padding */
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo-2 {
  float: left;
  display: flex;
  width: 20%; /* Adjust width */
  
}

.vector-smart-object {
  float: left;
  margin-right: 9px;
}

.text-3 {
  float: left;
  margin-top: 1px;
}

.nav-2 {
  float: right;
  margin-right: 4%; /* Adjust margin */
  margin-top: 5px;
}

.text-4 {
  color: #414f6b;
  font-size: 12px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: underline; 
  margin-right: 20px;
}

.bg {
  margin: 14px auto 0;
  padding: 44px 0 10%; /* Adjust padding */
  position: relative;
  height: 100vh;
  background: url('../../images/peak_2.jpg') no-repeat center top;
  background-size: cover;
}

.text-5 {
  margin: 0 auto;
  width: 100%;
  max-width: 960px; /* Add max-width */
}

.wrapper-2 {
  height: 148px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 500px; /* Add max-width */
  z-index: 85;
  display: flex;
}

.history {
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
  
}

.text-6 {
  position: absolute;
  
  left: 25%;
  transform: translateX(-50%);
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 135.62753px;
  font-weight: bold;
  line-height: 148px;
  margin-left: -10px;
  margin-top: 10px;
}

.text-7 {
  margin-left: 80px;
  
  max-width: 100vh; /* Add max-width */
  position: relative;
  font-weight: 300;
  line-height: 24px;
}

.bg-2 {
  padding: 25px 15px;
  background: #414f6b;
}

.carousel {
  width: 100%; /* Adjust width */
  max-width: 70%; /* Add max-width */
  margin: 0 auto;
}


@media only screen and (max-width: 576px) {
  .sticky-nav {
    max-width: 100%;
    
  }
  
.logo-2 {
    max-width: 20%;
    max-height: 100%;
   
}
  .nav-2 {
    max-width: 40%;
    max-height: 100%;
  }
}

