.group-2 {
    margin: 15px auto 0;
    position: relative;
  }
  
  .text-8 {
    margin: 0 auto;
    padding: 0 38px;
    position: relative;
    width: 960px;
    height: 100px;
  }
  
  .wrapper {
    float: left;
    height: 148px;
    margin: 0 22px 0 0;
    position: relative;
    width: 244px;
  }
  
  .climb {
    left: 50%;
    position: absolute;
    top: 77px;
    color: #414f6b;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 35px;
    margin-left: 32px;
   
  }
  
  .text-9 {
    left: 50%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    color: #414f6b;
    font-family: Oswald, sans-serif;
    font-size: 135.62753px;
    font-weight: bold;
    line-height: 148px;
    margin-left: -122px;
    margin-top: 10px;
  }
  
  .text-10 {
    float: left;
    margin: 52px 0 0;
    width: 611px;
    font-weight: 300;
    line-height: 24px;
  }
  
  .tabs {
    background-color: #414f6b;
    margin-top: 40px;
    padding: 10px 0;
    position: relative;
  }
  
  .l-constrained-2 {
    padding: 0 18px;
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
  }
  
  .tab-button {
    display: flex;
    justify-content: flex-start;
    

  }
  
  .tab-button-item {
    background-color: #5e709e;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: underline;
  }
  
  .tab-button-item.active {
    background-color: #b0b4be; /* Change this color to adjust the highlight */
  }
  
  .group-3 {
    display: flex;
    justify-content: space-around;
  }
  
  .text-11 {
    display: flex;
    margin: 0 16px 0 0;
    width: 120px;
    color: #b0b4be;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
   
    
  }

  .text-11:hover {
    color: #0af06d; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
}
 

  .tab-content {
    /* height: 546px; */
    margin: 0 auto;
    position: absolute;
    width: 100%;
    /* top: -50px; */
    
   
    
  }
  
  .tab-mountain2 {
    left: 0;
    padding: 101px 0 216px;
    position: absolute;
    /* top: 50px; */
    width: 100%;
    background: url("../../images/photo-1414449381078-c7768.png") no-repeat center 0;
    background-position: center top;
    
    background-size: cover;
    
  }
  
  .content {
    margin: 0 auto;
    min-height: 229px;
    padding: 18px 0 21px;
    position: relative;
    right: 273px;
    width: 352px;
    background: rgba(255, 255, 255, 0.7);
    
  }
  
  .schedule {
    margin: 0 0 0 41px;
    color: #414f6b;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-weight: bold;
  }
  
  .text-13 {
    margin: 11px 0 0 40px;
    width: 312px;
    font-weight: 300;
    line-height: 24px;
  }
  
  .tab-mountain1 {
    left: 0;
    padding: 101px 0 216px;
    position: relative;
    /* top: 50px; */
    width: 100%;
    height: 100vh;
    background: url('../../images/photo-1417021423914-07097.png') no-repeat center 0;
    background-position: center top;
    
    background-size: cover;
    
    
  }
  
  .content-2 {
    margin: 0 auto;
    min-height: 229px;
    padding: 18px 0 21px;
    position: relative;
    right: 273px;
    width: 352px;
    background: rgba(255, 255, 255, 0.7);
  }
  
  .schedule-2 {
    margin: 0 0 0 41px;
    color: #414f6b;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-weight: bold;
  }
  
  .text-14 {
    margin: 11px 0 0 40px;
    width: 312px;
    font-weight: 300;
    line-height: 24px;
  }
  

  .active {
    font-weight: bold;
    color: #fff; /* Change color to indicate active tab */
  }