.group-2 {
  margin: 15px auto 0;
  position: relative;
}

.text-8 {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  
  max-width: 60%;
  height: 100px;
}

.wrapper {
  float: left;
  margin: 0 auto 10px;
  position: relative;
  
  max-width: 244px;
}

.climb {
  margin-left: 80px;
  position: absolute;
  top: 77px;
  transform: translateX(-50%);
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
}

.text-9 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 135.63px;
  font-weight: bold;
  line-height: 148px;
  margin-left: -122px;
  margin-top: 10px;
}

.text-10 {
  
  float: right;
  position: relative;
  margin-left: 150px;
  margin-top: 30px;
  max-width: 100%; /* Add max-width */
  font-weight: 300;
  line-height: 24px;
  max-height: 100%; /* Add max-height */

  
}

.tabs {
  background-color: #414f6b;
  margin-top: 50px;
  padding: 10px 0;
  position: relative;
}

.l-constrained-2 {
  padding: 0 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-button-item {
  background-color: #5e709e;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.tab-button-item.active {
  background-color: #b0b4be;
}

.tab-content {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.tab-mountain2 {
  left: 0;
  padding: 101px 0;
  position: relative;
  width: 100%;
  background-size: cover;
  background: url("../../images/photo-1417021423914-07097.png") no-repeat center 0;
}
.tab-mountain1 {
  left: 0;
  padding: 101px 0;
  position: relative;
  width: 100%;
  background-size: cover;
  background: url("../../images/photo-1414449381078-c7768.png") no-repeat center 0;
}

.content,
.content-2 {
  margin: 0 auto;
  min-height: 229px;
  padding: 18px 20px;
  position: relative;
  width: 100%;
  max-width: 352px;
  background: rgba(255, 255, 255, 0.7);
}

.schedule,
.schedule-2 {
  margin: 0 0 0 20px;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.text-13,
.text-14 {
  margin: 11px 0 0 20px;
  width: calc(100% - 40px);
  font-weight: 300;
  line-height: 24px;
}

.active {
  font-weight: bold;
  color: #fff;
}



@media only screen and (max-width: 576px) {
  
  .text-8 {
    max-width: 100%;
    margin-left: 20px;
  }
}